#main{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
#box1{
    width: 50px;
    height: 50px;
    border: 1px solid red;
  
    margin-top: 10px;
    
}
#box2{
    width: 50px;
    height: 50px;
    border: 1px solid green;
    margin: auto;
   top: 30px;
   left:10px;
    position: relative;
    color: black;
 
    
}
#box3{
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    /* display: inline-block; */
    margin:auto;
    



}